
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');




.logo{
font-size: 60px;

font-family: 'Inter', sans-serif;
}

.the-bright{
    font-size: 60px;
   font-weight: 700;
}

p{
    font-size: 15px;
    letter-spacing: 1px;
}

.read-more {
    border: none;
    width: 180px;
    height: 50px;
    background-color: #e9685b;
    color: white;
    transition: background-color 0.3s ease;
    letter-spacing: 1px;
    font-weight: bold;
}

.read-more:hover {
    background-color: #00001a; 
  }

.bg-00001a{
    background-color: #00001a;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.hover:hover{
    color: #d0a465;
  }

.new{
    color: #d0a465
}
.nav-link{
    font-size: 18px;
   
}
li{
   margin: 0 0 0 40px;
}

.nav-link:hover {
    color: #e9685b; 
  }


  .img-bottom{
    height: 132px;
    width: 100px;
  }
 
  .number{
    color: #c7c6cd;
  }

  .para-bottom{
    color: #c7c6cd;
  }

  .title-bottom{
   color: #0c091c;
   font-weight: bold;
   transition: background-color 0.3s ease;
   cursor: pointer;
  }

  .title-bottom:hover{

    color: #e9685b; 

  }

  

  .offcanvas-custom-width {
    width: 300px; /* Adjust the width as desired */
  }
  @media (max-width: 767px) {
    .offcanvas-custom-width {
      width: 75% !important;
    }
  }

  
  